doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title CongreGeek
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
  script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  link(rel='stylesheet', type='text/css', media='screen', href='/css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap')
  script(src='https://code.jquery.com/jquery.js')
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand
      a.navbar-item(href='/')
        img(src='../images/congregeeklogo.png', width='100', height='20')
      a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        .buttons
          .navbar-start
            a.navbar-item(href='members')
              | Home
            a.navbar-item(href='members')
              | Fellow Geeks
            a.navbar-item(href='logout')
              | Logout
section.hero.is-success.is-fullheight
  .hero-body
    .container.is-fluid
      .columns.is-centered.is-multiline.is-mobile
        .column.is-full.is-space
        each user in users
          .card.cardSpecifyMember
            .card-header-title
              a.h1.memberTitle.is-centered.memberLink(href=`members/${user.username}`) #{user.username}
            .card-content
              .media
                .media-left.figure.profile-pic
                  img(src=`${user.profile}`, width='75', height='32')
                .media-right
                  p.subtitleBlack Interests: 
                  p.subtitleBlack #{user.interests}
                  p.subtitleBlack Fandoms:
                  p.subtitleBlack #{user.fandom}
                  p.subtitleBlack Favorite Superhero
                  p.subtitleBlack #{user.favehero}
script(src="../js/members.js")

