doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title CongreGeek
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
  script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  link(rel='stylesheet', type='text/css', media='screen', href='/css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap')
  script(src='https://code.jquery.com/jquery.js')
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand
      a.navbar-item(href='/')
        img(src='../images/congregeeklogo.png', width='100', height='20')
      a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        .buttons
          .navbar-start
            a.navbar-item(href='/members')
              | Home
            a.navbar-item(href='/members')
              | Fellow Geeks
            a.navbar-item(href='logout')
              | Logout
section.hero.is-success.is-fullheight
  .hero-body
    .container.is-fluid
      .columns.is-centered.is-multiline.is-mobile
        .column.is-full
          .card.cardSpecify
            .card-header
              .card-header-title.is-centered.profileTitle #{users.username}
            .card-content
              .media
                .media-left.figure.profile-pic
                  img(src=`${users.profile}`, width='200', height='200')
                .media-right
                  h6#profile-subtitle.subtitle.is-4
                    |Interests:
                    div.subtitleBlack #{users.interests}
                  h6#profile-subtitle.subtitle.is-4
                    |Fandoms:
                    div.subtitleBlack #{users.fandom}
                  h6#profile-subtitle.subtitle.is-4
                    |Favorite Superhero:
                    div.subtitleBlack #{users.favehero}
                  h6#profile-subtitle.subtitle.is-4
                    |Favorite Movie:
                    div.subtitleBlack #{users.favemovie}
                  h6#profile-subtitle.subtitle.is-4
                    |Favorite TV Show
                    div.subtitleBlack #{users.favetv}
                  h6#profile-subtitle.subtitle.is-4
                    |Fantasy World you'd live in: 
                    div.subtitleBlack #{users.faveworld}
                  h6#profile-subtitle.subtitle.is-4
                    |Superpower I would be: 
                    div.subtitleBlack #{users.superpower}
script(src="../js/members.js")